*{
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    /* background-color: #0f0f0f; */
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100vh; */
}
body{
    background-color: #0f0f0f;
    position: fixed;
}


/* some shortcuts */

.flex{
    display: flex; 
      
}

.flex_cen{
    display: flex;
    align-items: center;
}
.flex_cen_cen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_size{
    height: 24px;
    width: 24px;
}
.font_size{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.text_size{
    height: 20px;
    width: 132px;

}

.comm_padding{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    width: 165px;
    margin-right: 15px;
    height: 40px;
    border-radius: 8px;
}

.comm_padding:hover{
    /* width: 165px; */
    background-color: rgba(255,255,255,0.2);

}




/* ------------------------navbar style area ---------------------*/


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    
    
    padding-left: 16px;
    padding-right: 16px;
    
    background-color:rgb(0, 0, 0);
    
}

/* -------------------nav_dir1-------------------------- */

.wetube_bar{
    height: 40px;
    width: 40px;

    border-radius: 50%;
}

.hover:hover {
    background-color: rgba(255,255,255,0.2);
}

.wetube_bar{
    font-size: 25px;
    
}
.wetube_logo{
    height: 56px;
}



/* ---------------------nav_dir2--------------------------- */


.nav_dir2{
    width: 692px;
    display: flex;
    justify-content: space-around;
}


.nav_div2_search{
    /* border-top-color: ;
    border-bottom-color: ;
    border-left-color: ; */
    /* border-color: #e5e1e1;
    background-color: aqua; */

    border-radius: 25px;
    border: .5px solid rgba(213, 213, 217, 0.599);
}
.wetube_input:focus-visible{
    outline: 1px solid #065fd4;

}
.wetube_input{
    /* border: none; */
   
    width: 536px;
    height: 40px;
    background-color: #121212;
    
}
.search_icon{
    width: 64px;
    height: 40px;
    background-color: rgb(35, 33, 33);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    
}

.search_input{
    border-right:1px solid rgba(213, 213, 217, 0.599);
   
}

.input{
   
    padding-left: 16px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.nav_mic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(35, 33, 33);
}



/* ---------------------nav_dir3--------------------------- */


.nav_dir3{

    width: 156px;
    justify-content: space-around;

}

.nav_video_create{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.nav_bell{
    height: 40px;
    width: 40px;

    border-radius: 50%;
}

.nav_user_logo{
    /* height: 40px; */
    width: 60px;

}
.nav_div3_font_size{
    
    font-size: 20px;
}

.user_logo{
    border-radius: 50%;
    height: 32px;
    width: 32px;
}


/* -------------------------body_part----------------------- */

header{
    display: flex;

}

/* --------------------body_part1------------------ */

.body1{
 display: block;
 width: 260px;
 height: 780px;
 background-color: #0f0f0f;
 overflow: scroll;
 scrollbar-color:rgba(213, 213, 217, 0.599) ;
}

/* --------------------body_part1_upper------------------ */



.body1_upper{
    height: 157px;
    width: 216px;
    display:grid;
    /* justify-content: space-between; */

    padding: 12px 12px 12px 12px;
    /* margin: 0 0 12px 0; */
    border-bottom: .5px solid rgba(213, 213, 217, 0.599);

}

/* --------------------body_part1_middle------------------ */


.body1_middle{
    height: 281px;
    width: 216px;
    /* background-color: antiquewhite; */
    display:grid;
    /* justify-content: space-between; */

    padding: 12px 12px 12px 12px;
    /* margin: 0 0 12px 0; */
    border-bottom: .5px solid rgba(213, 213, 217, 0.599);

}
/* --------------------body_part1_middle------------------ */

.body1_lower{
    height: 472px;
    width: 216px;
    /* background-color: antiquewhite; */
    display:grid;
    /* justify-content: space-between; */

    padding: 12px 12px 12px 12px;
    /* margin: 0 0 12px 0; */
    border-bottom: .5px solid rgba(213, 213, 217, 0.599);

}

/* ------------------------------------body_part1_small------------------------ */


.body1_small{
    display: none;
    
    width: 64px;
    height: (100%-56px);
    background-color: #0f0f0f;

}
.comm_style{
    height: 44px;
    width: 64px;
    padding: 16px 0 14px 0;
    font-size: 10px;
    border-radius: 8px;
    /* display: grid; */
    /* justify-content: space-evenly; */
}

.body1_upper_btn1_icon_small{
    margin-bottom: 6px;
    
}
.body1_upper_btn2_icon_small{
    margin-bottom: 6px;
    
}
.body1_upper_btn3_icon_small{
    margin-bottom: 6px;
    
}



/* ------------------------------------body_part2------------------------ */
.body2{
    background-color:#0f0f0f;
    width: 20px;
 height: 780px;
    
}


/* ------------------------------------body_part3--------------------------- */
.body3{
    /* background-color: rgb(177, 20, 125); */
    width: 100%;
    height: 780px;
   

    
}

/* --------------------body_part3_upper------------------ */



.body3_upper{
    height: 56px;
    /* width: 1758px; */
    width: 100%;
    background-color:#0f0f0f;
    justify-content: space-around;


}

.body3_upper_text{
    height: 32px;
    align-content: center;

    margin: 12px 12px 12px 0;
    padding: 0 12px 0 12px;
    border-radius: 10px;
    background-color: rgb(35, 33, 33);
}

.body3_upper_text:hover{
    background-color: rgba(255,255,255,0.2);

}


/* --------------------body_part3_lower------------------ */
.body3_lower{
    padding-top: 24px;
    background-color:#0f0f0f;
    height: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: scroll;
    scrollbar-color:rgba(213, 213, 217, 0.599) ;

}


.box{
    height: 327px;
    width: 373px;
    /* background-color: #b35e5e; */
    margin: 0 8px 40px 8px;
}


.video_box{
    height: 209px;
    width: 373px;
    /* background-color: #36a96e; */
    
}
.video_box1{
    height: 209px;
    width: 373px;
    border-radius: 15px;

}

.content_box{
    height: 100px;
    justify-content: space-around;

}
.video_title{

    font-size: 16px;
    font-weight: 900;
}

.video_user_content{
    width: 100%;
    height: 100px;
    /* display: grid; */
  margin-top: 20px;

}
.video_user_logoIn{
    height: 36px;
    width: 36px;
    border-radius: 50%;
   margin-bottom: 40px;
  
}
.video_user_shareIn{
    /* width: 40px; */
    height: 20px;
    margin-bottom: 50px;


}
.views{
    padding-right: 10px;
}





